* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.header {
  position: sticky;
  top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: rgb(0, 0, 0);
  padding: 1px;
  box-shadow: 2px 0px 20px black;
}
.header > div {
  margin: 10px;
}
#title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 3em;
  font-weight: bolder;
  text-shadow: -4px -4px 4px rgba(0, 0, 0, 0.5);
}
.create_account {
  display: flex;
  justify-content: center;
  align-items: center;
}
.create_account > img {
  height: 70px;
  width: 70px;
}
.header > :first-of-type img {
  height: 80px;
  width: 80px;
}
.dropdown {
  display: none;
  position: absolute;
  right: 0%;
  top: 65%;
  right: 0.5%;
  transition: transform 0.1s ease-out;
}
.dropdown:hover {
  display: block;
}
.dropdown li {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: black;
  border: 2px solid black;
  padding: 10px;
  height: 30px;
  width: 60px;
  border-radius: 10px;
  text-align: center;
  line-height: 25px;
  font-weight: bolder;
  margin-top: 2px;
}
.dropdown ul {
  list-style-type: none;
}
.create_account :hover .dropdown{
 transform: scale(1.2);
  display: block;
  transform: translateX(-20%);
}
.dropdown li:hover {
  background-color: rgb(5, 5, 5);
  border: 2px solid rgb(6, 6, 6);
  color: rgb(255, 250, 250);
}
